.navbar-container {
	padding-bottom: 4px;
}

	.title-container a {
		color: #303030;
		text-decoration: none;
	}
		
		h1 {
			font-size: 200%;
			margin-top: 10px;
		}

	#navbar-settings-button {
		position:absolute; 
		right: 0px; 
		top: 8px; 
		margin-right: 10px;
	}
